{% extends 'main.html' %}


{% block content %}
<main id="form">
  <form action="" method="POST" class="form reset-form" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="reset-header">
      <h3>Password reset</h3>
      <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
      </p>
    </div>

    <div class="form-fields">
      <div class="form-field">
        <label for="">{{form.email.label}}</label>
        {{form.email}}
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>
</main>
{% endblock content %}